{% if current_user.id_Rol_FK == 1 %}
{% extends 'layoutAdmin.html'%}
{% else %}
{% extends 'layoutInstructor.html'%}
{% endif %}
{% block title %}Crear caso aprendiz{% endblock %}
{% block CustomCSS %}
<link rel="stylesheet" href='{{url_for("static", filename = "css/estilosFormularios.css")}}'>
{% endblock %}
{% block body %}



<div class="formulario">
  {% if message_err %}
  <div class="alert alert-danger" role="alert">
    {{message_err}}
  </div>
  {% endif%}
  {% if message_exito %}
  <div class="alert alert-success" role="alert">
    <span class="row">{{message_exito}}</span>
    <span class="row">Usuario: {{datos_usuario_registrado.nombre_Usuario}}</span>
    <span class="row">Contraseña: {{datos_usuario_registrado.contrasena_Usuario}}</span>
  </div>
  {% endif%}
  
  <form action="/casos/crearCaso" method="post" class="form" novalidate>
    <div class="encabezado">
      <h2>Crear Caso Aprendiz</h2>
    </div>
    {% with messages = get_flashed_messages("caso_registrado")%}
    {% if messages %}
    {% for message in messages%}
    {% if message[0] == "error_registro" %}
    <div class="alert alert-danger" role="alert">
      <span class="row">{{message[1]}}</span>
    </div>
    {% elif message[0] == "caso_registrado"%}
    <div class="alert alert-success" role="alert">
      <span class="row">{{message[1]}}</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith%}
    <div class="bloque">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
      <div class="campos-dobles">
        <div class="form-group">
          <div class="campos">
            <div class="label-contenedor"><label for="">Tipo Doc.</label></div>
            <div class="input-contenedor">
              {{ formCrearCaso.tipo_Documento(class='form-select', id='tipo_Documento') }}</div>
          </div>
          {% for i in formCrearCaso.tipo_Documento.errors %}
          <div class="errors"><span  class="span" style="color: red;"> {{i}}</span></div>
          {% endfor %}
        </div>
        <div class="form-group">
          <div class="campos">
            <div class="label-contenedor"><label  for="">Núm Doc.</label></div>
            <div class="input-contenedor">
              {{ formCrearCaso.num_Documento(class='form-control',id='num_Documento', placeholder='Obligatorio')}}
            </div>
          </div>
          {% for i in formCrearCaso.num_Documento.errors %}
          <div class="errors"><span  class="span" style="color: red;"> {{i}}</span></div>
          {% endfor %}
        </div>
      </div>
      <div class="campos-dobles">
        <div class="form-group">
            <div class="campos">
              <div class="label-contenedor"><label for="">Núm Ficha</label></div>
              <div class="input-contenedor">{{ formCrearCaso.num_Ficha(class='form-control', id='num_Ficha')}}</div>
            </div>
            {% for i in formCrearCaso.num_Ficha.errors %}
            <div class="errors"><span class="span" style="color: red;"> {{i}}</span></div>
            {% endfor %}
          </div>
        <div class="form-group">
            <div class="campos">
              <div class="label-contenedor"><label for="">Nombre Aprendiz</label></div>
              <div class="input-contenedor">{{ formCrearCaso.nombre_Aprendiz(class='form-control', id='nombre_Aprendiz')}}</div>
            </div>
            {% for i in formCrearCaso.nombre_Aprendiz.errors %}
            <div class="errors"><span class="span" style="color: red;"> {{i}}</span></div>
            {% endfor %}
          </div>
      </div>
      <div class="campos-dobles">
        <div class="form-group">
          <div class="campos">
            <div class="label-contenedor"><label for="">Correo Aprendiz</label></div>
            <div class="input-contenedor">{{ formCrearCaso.correo_Aprendiz(class='form-control', id='correo_Aprendiz', placeholder='example@sena.edu.co') }}</div>
          </div>
          {% for i in formCrearCaso.correo_Aprendiz.errors %}
          <div class="errors"><span  class="span" style="color: red;"> {{i}}</span></div>
          {% endfor %}
        </div>
      </div>
    </div>
      <div class="form-group button">{{ formCrearCaso.submit(class='btn btn-success')}}</div>
      {{ formCrearCaso.hidden_tag()}}
    </form>
  </div>
  {% endblock %}