<meta charset="UTF-8">
    <div class="contenedor">
        <img src="../static/img/encabezado.png" alt="">
        <div class="datos-llamado">
            <div class="row" style="display: flex;">
                <span>FECHA:</span><div class="subrayado">{{fecha}}</div>
            </div>
            <div class="row">
                <span>APRENDIZ:</span>
                <div>{{nombre_Aprendiz}}</div>
            </div>
            <div class="row">
                <span>PROGRAMA DE FORMACIÓN:</span>
                <div>{{programa_Formacion}}</div>
            </div>
            <div class="row">
                <span>No. FICHA DE CARACTERIZACIÓN:</span>
                <div>{{num_Ficha}}</div>
            </div>
            <div class="row">
                <span>MOTIVO</span>
                <div>{{motivo}}</div>
            </div>
        </div>
        <p class="texto reglamento" style="margin-top: 70px;">
            Según el procedimiento establecido en el Reglamento del Aprendiz, 
            se procede a realizar el presente Llamado de Atención como registro del incumplimiento 
            del Artículo 9, Capítulo 3, Numeral 1. Deberes del Aprendiz SENA. 
            “Cumplir con todas las actividades propias de su proceso de aprendizaje o del plan de mejoramiento, 
            definidas durante su etapa lectiva y productiva”, además del incumplimiento del compromiso como aprendiz 
            Sena en su numeral 3 “Participar con responsabilidad en todas las actividades curriculares, complementarias 
            o de profundización relacionadas con el programa de formación sean virtuales o presenciales, sean estas 
            programadas en el centro o instalaciones físicas diferentes al mismo”. Descripción del Motivo con Actividad 
            de Mejora:</p>
        <p class="texto">Nota: Señor Instructor, favor tener en cuenta el Reglamento Interno de Aprendices</p>
        <div class="grid" style="display: grid; grid-template-columns: repeat(2, 2fr);padding-left: 40px;">
            <div class="columna">
                <div class="subrayado firma">
                    <img class="firma" src="../static/img/encabezado.png" alt="">
                </div>
                <span>Firma Instructor</span>
                <span>Nombre Instructor</span>
                <div class="subrayado">
                    {{nombre_Instructor}}
                </div>
            </div>
            <div class="columna">
                <div class="subrayado firma">
                    <img class="firma" src="../static/img/encabezado.png" alt="">
                </div>
                <span>Firma Aprendiz</span>
                <div class="row" >
                    <span>C de C/T.I</span>
                    <div class="subrayado">
                       {{num_DocAprendiz}}
                    </div>
                </div>
            </div>
            <div class="columna">
                <div class="subrayado firma">
                    <img class="firma" src="../static/img/firma_aprendiz.png" alt="">
                </div>
                <span>Firma Vocero</span>
            </div>
        </div>
    </div>