{% if current_user.id_Rol_FK == 1 %}
{% extends 'layoutAdmin.html'%}
{% else %}
{% extends 'layoutInstructor.html'%}
{% endif %}

{% block title %}Visualizar Llamado{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/visualizarLlamado.css')}}">
{% endblock %}
{% block body %}
<div class="contenedor-pdf">
    <h2>Visualizar Llamado</h2>
    <div class="lista_contenidos">
        <iframe src="{{llamado.llamado_Atencion}}" width="100%" height="100%" style="border: none; display:flex;"></iframe>
    </div>
    <div>
        <button class="btn btn-success">Descargar</button>
    </div>
</div>
{% endblock %}