

{% if current_user.id_Rol_FK == 1 %}
{% extends 'layoutAdmin.html'%}
{% else %}
{% extends 'layoutInstructor.html'%}
{% endif %}


{% block title %}Visualizar Usuarios{% endblock %}

{% block CustomCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/visualizarUsuarios.css')}}">
{% endblock %}

{% block body %}
<div class="lista_contenidos">
    <div class="filtro">
        <div class="filtrar">
            <label for="rol_usuario">Nombre del aprendiz</label>
            <input type="text" class="form-control" id="filtrarAprendiz">
        </div>
        <div class="filtrar">
            <label for="rol_usuario">Fecha</label>
            <input type="date" class="form-control" id="filtrarFecha">
        </div>
    </div>
    <div class="lista">
        <ul class="">
            {% if citaciones %}
            {% for citacion in citaciones %}
                <li data-date="{{citacion.fecha}}">
                <a href="visualizarcitaciones/{{ citacion.id_Citacion }}">
                    <div class="contenedor_imagen">
                        <img src="{{ url_for('static', filename='img/citaciones.png') }}" alt="Visualizar">
                    </div>
                    <div class="contenedor_texto">
                        <span>{{ citacion.fecha_Citacion}} - {{citacion.hora_Citacion}} |  Citacion: {{ citacion.destinatario }}</span>
                    </div>
                </a>
                <div>
                <a href="/citaciones/modificarcitaciones/{{citacion.id_Citacion}}">Modificar citaciones</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <p>No hay citacioness realizados.</p>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
{% block CustomJs %}
<script src="{{url_for('static', filename='js/cambiarFiltrocitaciones.js')}}"></script>
{% endblock %}