.contenidos {
    width: 70%;
    margin: 1% auto;
    padding: 20px;
    height: 100vh;
    border-radius: 10px;
}
.lista_contenidos {
    width: 100%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
}
.contenedor-pdf{
    display: flex;
    gap: 20px;
    color: #385B56;
    font-weight: 500;
    width: 100%;
    flex-direction: column;
}


@media(max-width: 700px){
    .contenidos{
        width: 100%;
    }
    .lista{
        width: 100%;
    }
}